@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

/*reset styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 100%;
  font-family: "League Spartan", sans-serif;
}

body {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*colors*/
:root {
  --neutral-50: #fff;
  --neutral-500: #a0a0a0;
  --neutral-800: #444444;
  --neutral-950: #000;
}

/**container**/
.container {
  max-width: 19.4375rem;
  margin-inline: auto;
}

@media screen and (min-width: 45rem) {
  .container {
    max-width: 25rem;
  }
}

@media screen and (min-width: 75rem) {
  .container {
    max-width: 90rem;
  }
}

/*typography*/
.heading-xl {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.3125rem;
  letter-spacing: -1.66667px;
  color: var(--neutral-950);
}

.heading-md {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 5.83333px;
  color: var(--neutral-950);
}

.text-md {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: -0.333333px;
  color: var(--neutral-500);
}

.text-nav {
  font-weight: 600;
  font-size: 1rem;
  line-height: 0.9375rem;
  letter-spacing: -0.666667px;
  color: var(--neutral-950);
}

@media screen and (min-width: 45rem) {
  .heading-xl {
    font-size: 3rem;
    line-height: 2.75rem;
    letter-spacing: -2px;
  }

  .heading-md {
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 75rem) {
  .text-nav {
    color: var(--neutral-50);
  }
}

/*buttons*/
.primary-button {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--neutral-950);
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
}

.secondary-button {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1rem;
  letter-spacing: 12.5px;
  color: var(--neutral-950);
}

.primary-button:hover {
  background-color: var(--neutral-800);
}

.secondary-button:hover {
  opacity: 63%;
}

@media screen and (min-width: 75rem) {
  .primary-button {
    width: 5rem;
    height: 5rem;
  }
}

.navbar[data-status="closed"] .sidebar {
  opacity: 0;
  z-index: -1;
}

.navbar[data-status="closed"] .backdrop {
  display: none;
}

.navbar .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
  background: #000000;
  opacity: 0.5;
}

.sidebar {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 100%;
  height: 110px;
  width: 100%;
  background-color: white;
  z-index: 99;
  transition: opacity 0.1s;
}

.sidebar .navlinks {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.9375rem;
  flex-direction: row;
}

.navbar {
  position: absolute;
  z-index: 98;
  height: 110px;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar .logo-link {
  width: max-content;
  justify-self: center;
}

.navbar .btn-wrapper {
  width: 100%;
  position: absolute;
  z-index: 100;
}

@media screen and (min-width: 45rem) {
  .navbar .btn-wrapper {
    padding-inline: 1.5rem;
  }
}

@media screen and (min-width: 75rem) {
  .navbar .btn-wrapper {
    display: none;
  }

  .navbar .backdrop {
    display: none;
  }

  .navbar > .container {
    padding-inline: 4rem;
    justify-content: start;
    gap: 3.5rem;
  }

  .navbar .sidebar {
    display: contents;
  }

  .navbar .navlinks.container {
    margin: 0;
  }
}

.hero-section {
  width: 100%;
  overflow: hidden;
}

.hero-section picture {
  display: grid;
  height: inherit;
}

.hero-section .image-container {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 22.5rem;
  position: relative;
}

.hero-section .hero-image {
  width: 100%;
  max-width: 25rem;
  margin-inline: auto;
  height: inherit;
  object-fit: cover;
  object-position: center;
  filter: brightness(80%);
}

.hero-section .slider-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: max(0px, 50vw - 12.5rem);
  z-index: 1;
}

.hero-section .header {
  margin-top: 3.75rem;
  max-width: 25rem;
  margin-inline: auto;
}

.hero-section .text-md {
  margin-top: 0.9375rem;
}

.hero-section .secondary-button {
  margin-top: 2.5625rem;
}

@media screen and (min-width: 75rem) {
  .hero-section .container {
    display: grid;
    grid-template-columns: 58.3333% 41.6667%;
  }

  .hero-section .image-container {
    width: 100%;
    max-width: none;
    height: 33.375rem;
    margin-left: 0;
  }

  .hero-section .hero-image {
    max-width: 100%;
  }

  .hero-section .slider-buttons {
    right: -10rem;
  }

  .hero-section .header {
    margin-top: 7.5rem;
  }

  .hero-section .text-md {
    margin-top: 1.125rem;
  }

  .hero-section .secondary-button {
    margin-top: 1.625rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 26.25rem 36.25rem 1fr;
  justify-content: space-evenly;
}

.text-container {
  padding: 4.25rem 3rem 0;
}

.text-container .text-md {
  margin-top: 15px;
}

@media screen and (max-width: 1199px) {
  .our-future-section {
    overflow: hidden;
  }

  .text-container {
    padding: 0;
  }

  .grid-container {
    grid-template-columns: 100%;
    gap: 40px;
    margin-top: 72px;
    justify-items: center;
  }

  .grid-item {
    width: min(400px, 100vw);
  }
}

footer {
  margin-top: 40px;
  font-size: 14px;
  text-align: center;
  color: var(--neutral-500);
}
